* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background: rgb(229,255,223);
    background: linear-gradient(90deg, rgba(229,255,223,1) 0%, rgba(134,255,80,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}